/**
* green: rgb(22, 193, 100);
* red: rgb(235, 44, 55);
* light-grey: #a2a2a2;
* regular grey: #333;
*/

* {
	color: #333;
	font-size: 1.125rem;
	font-weight: 400;
}

p {
	font-weight: 400;
}

h1,h2,h3 { color: #333; font-weight: 600; }
h1 { display: inline-block; }
a { color: #a2a2a2; text-decoration: none; }
a:hover { color: rgb(235, 44, 55) !important; }
a:focus { color: rgb(235, 44, 55) !important; }
a:visited { color: #a2a2a2; }
ol { counter-reset: a; padding-left: 18px; }
ul, ol { list-style: none; padding-left: 0; }
ol > li { position: relative; padding-left: 25px; }
ol > li::before { 
    content: counter(a,decimal-leading-zero) "."; 
    width: 25px; 
    color: rgb(235, 44, 55); 
    counter-increment: a;
    font-size: .777777em;
    position: absolute;
    left: 0;
    margin-top: .2em;
}
ul.spaced > li {
	margin-bottom: 1em;
}
hr { border-top: .2px solid #e8e8e8; }
footer { margin: 4em 0 4em 0; }
.center { text-align: center; }
.pgp {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 0.7em;
    width: 200px;
    display: inline-block;
    line-height: 1.4;
}


