/**
Base file setting up font and colors for later use.
 */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,100;1,400&display=swap");
:root[data-theme=light] {
  --depth-contrast: #1e1f26;
  --depth-0: #e9e9e9;
  --depth-1: #b1b1b1;
  --depth-2: #c1c1c1;
  --depth-3: #e9e9e9;
  --depth-4: #f2f2f2;
  --blue: #00008C;
  --light-blue: #00468c;
  --purple: #46008c;
  --green: #008c46;
  --black: #000;
  --orig-red: #C8262D;
  --white: var(--depth-0);
  --bg-color: #F3F4F6;
  --contrast-color: var(--purple);
  --contrast-color-bright: scale-color(var(--contrast-color), lightness, 50%);
  --navigation-color: var(--bg-color);
  --navigation-border-color: var(--bg-color);
  --heading-color: var(--blue);
  --heading-inverted-color: var(--white);
  --heading-light-color: scale-color(var(--heading-color), lightness, 50%);
  --text-color: var(--black);
  --link-color: #a2a2a2;
  --link-hover-color: var(--contrast-color);
  --link-visited-color: var(--link-color);
  --btn-color: #fff;
  --btn-bg-color: #0e0e0e;
  --field-color: #f1f1f1;
  --field-color-border: var(--depth-1);
  --selection-color: #fff;
  --selection-bg-color: #0e0e0e;
  --footer-bg-color: var(--blue);
}

/*Dark Theme:
*/
:root[data-theme=dark] {
  --depth-contrast: #cccccc;
  --depth-0: #131313;
  --depth-1: #212121;
  --depth-2: #313131;
  --depth-3: #414141;
  --depth-4: #888888;
  --bg-color: var(--depth-0);
  --contrast-color: #c8262d;
  --contrast-color-bright: #f72a37;
  --navigation-color: var(--depth-1);
  --navigation-border-color: var(--depth-2);
  --heading-color: #fdfdfd;
  --heading-light-color: #dddddd;
  --text-color: #fdfdfd;
  --link-color: var(--depth-3);
  --link-hover-color: var(--contrast-color);
  --link-visited-color: var(--link-color);
  --btn-color: var(--text-color);
  --btn-bg-color: var(--contrast-color);
  --field-color: var(--depth-3);
  --field-color-border: var(--depth-4);
  --selection-color: #0e0e0e;
  --selection-bg-color: #fdfdfd;
  --footer-bg-color: var(--navigation-color);
}

@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/CerebriSans-Light.eot);
  src: url(../fonts/Cerebri-Sans/CerebriSans-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/CerebriSans-Regular.eot);
  src: url(../fonts/Cerebri-Sans/CerebriSans-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Cerebri Sans";
  src: url(../fonts/Cerebri-Sans/CerebriSans-Bold.eot);
  src: url(../fonts/Cerebri-Sans/CerebriSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.linktree-element {
  background-color: var(--depth-contrast);
  border: 3px solid var(--depth-contrast);
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  transition: box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s, background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
}

.linktree-element:hover {
  background-color: transparent;
}

.linktree-element > a {
  margin: 0;
  width: 100%;
  display: block;
  padding: 16px 0;
  font-weight: 500;
}

.linktree-element > a:hover {
  color: var(--depth-contrast) !important;
}

.image.rounded.hundred {
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.home-link {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 2em 2em 0;
}

.home-link > img {
  height: 3em;
  width: auto;
}

/*# sourceMappingURL=linktree.css.map */
