{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
{{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ base_url() }}/css/grid.css">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 intro">
        <h1>Christoph Sonntag.</h1>
        <p>
          Software Engineer interested in using computer science methods and technologies for
          helping to solve up-coming challenges for humanity.
        </p>
        <p>
          I'm a passionate programmer based in
          <a href="https://www.openstreetmap.org/relation/109166">Vienna, Austria</a>,
          mostly using Python. I started diving into Deep Learning recently
          during the work on my bachelor's thesis.
          <a href="https://github.com/chrisonntag/cv/raw/master/dist/cv.pdf">Download my CV</a> or
          send a secure message via <a href="{{ path_for('pgp') }}">PGP</a>. I'm German, speak English
          and just started to learn French. I also love playing the guitar and drums.
        </p>
      </div>
    </div>
  </div>

  <br />
  <br />

  <!--
  <div class="grid-content">
    <div class="grid">
      <div class="grid__item pos-1">
        <div class="grid__item-img" style="background-image:url(images/projects/1.jpg);"></div>
        <h3 class="grid--item-title">MMetering</h3>
      </div>
      <div class="grid__item pos-2"><div class="grid__item-img" style="background-image:url(images/projects/2.jpg);"></div></div>
      <div class="grid__item pos-3"><div class="grid__item-img" style="background-image:url(images/projects/3.jpg);"></div></div>
      <div class="grid__item pos-4"><div class="grid__item-img" style="background-image:url(images/projects/4.jpg);"></div></div>
      <div class="grid__item pos-5"><div class="grid__item-img" style="background-image:url(images/projects/5.jpg);"></div></div>
      <div class="grid__item pos-6">
        <div class="grid__item-img" style="background-image:url(images/projects/6.jpg);"></div>
        <h3 class="grid--item-title">MMetering</h3>
      </div>
      <div class="grid__item pos-7"><div class="grid__item-img" style="background-image:url(images/projects/7.jpg);"></div></div>
      <div class="grid__item pos-8">
        <div class="grid__item-img" style="background-image:url(images/projects/8.jpg);"></div>
        <h3 class="grid--item-title">MMetering</h3>
      </div>
      <div class="grid__item pos-9"><div class="grid__item-img" style="background-image:url(images/projects/9.jpg);"></div></div>
      <div class="grid__item pos-10"><div class="grid__item-img" style="background-image:url(images/projects/10.jpg);"></div></div>
    </div>
  </div>

  <br />
  <br />
  <br />
  <br />
  -->

  <div class="container">
    <div class="row center">
      <div class="col-6">
        <h2>Projects &amp; Interests</h2>
        <ol>
          <li>
            <a href="http://mmetering.chrisonntag.com"
               title="MMetering is an administration software for recording and evaluating electricity meter data in both private and community houses.">MMetering</a>:
            Smart Metering for private and community houses.
          </li>
          <li>
            <a href="https://github.com/chrisonntag/grundkurs-programmieren">Programming Basic
              Course</a>: Beginners course for non-computer science students at the University of
            Passau (Universit&auml;t Passau).
          </li>
          <li>
            Participate in events like <a href="https://hackzurich.com">HackZurich</a>.
          </li>
          <li>
            Various professional contract work for customers in Germany <em>(since 2013)</em>.
          </li>
        </ol>
      </div>
      <div class="col-6">
        <h2>Education</h2>
        <ul class="spaced">
          <li>
            <strong><em>B.Sc. Internet Computing</em></strong>, University of Passau, Germany
            <br />
            <a href="http://www.fim.uni-passau.de/">Faculty of
              Computer Science and Mathematics</a>
            <br />
            <a href="https://fsinfo.fim.uni-passau.de">Student Committee Member</a>,
            University of Passau
          </li>
          <li><strong><em>German Abitur (resp. A-Levels).</em></strong>, Gymnasium Neutraubling, Germany</li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
{% block scripts %}
  <script src="{{ base_url() }}/js/app.bundle.js"></script>
{% endblock %}