{% extends "base.twig" %}

{% block title %}PGP{% endblock %}

{% block content %}
<div class="row center">
  <div class="col-12">

    <h1>PGP Key</h1>

    <p>
      <a class="pgp" href="christoph-sonntag.asc">
        <span>4FF1 A263 146F EA72 724E 187A</span>
        <span>B231 0301 37BC 1738 21A7 CD93</span>
      </a>
    </p>
    <p>
      Use this key to send encrypted messages to my mail address. For more information on how
      this works checkout the pretty good wiki article for <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">Pretty Good Privacy</a>.
    </p>
    <p><a href="{{ path_for('home') }}">⬅️ Home</a></p>
  </div>
</div>
{% endblock %}