#!c=0
# ^^^^ <--> Nomadnet specific to prevent page caching.
`B{{ site.bg | default('222') }}`F{{ site.fg | default('ddd') }}
>`c{{ site.title }}`a
{% if site.tagline %}`c`F888{{ site.tagline }}`f`a
{% endif %}

-
{% if intro %}
{{ intro }}

{% endif %}
>>Latest posts

{% for p in posts %}
{{ link(p.url, p.title) }} {{ ('`F888' ~ p.date ~ '`f') if p.date else '' }}
{% endfor %}
{% if site.footer %}

-
`c`F666{{ site.footer }}`f`a
{% endif %}
