#!c=0
`B{{ site.bg | default('ddd') }}`F{{ site.fg | default('222') }}

`c{{ site.title }}
{% if site.tagline %}`c`F888{{ site.tagline }}
`a

``
{% endif %}


{% if intro %}
`c{{ intro }}
`a


{% endif %}
>>Latest posts

{% for p in posts %}
`c`_{{ link(p.url, p.title) }}`_ {{ ('`F888' ~ p.date ~ '`f') if p.date else '' }}
{% endfor %}
{% if site.footer %}

-
`c`F666{{ site.footer }}`f`a
{% endif %}
