{% if site.nav %}


{% for item in site.nav %}
`c`_{{ link(item.url, item.label) }}`_{% if not loop.last %} `F666|`f {% endif %}
{% endfor %}

`a


{% endif %}
>{{ page.title }}

{% if page.date %}`c`F888{{ page.date }}`f
`a
{% endif %}

{{ body }}
{% if site.footer %}

-
`c`F666{{ site.footer }}`f`a
{% endif %}
